package tw.nekomimi.nekogram;

import org.telegram.messenger.Utilities;

import tw.nekomimi.nekogram.helpers.UserHelper;

public class Extra {
    // See UpdateHelper.java
    public static final int UPDATE_CHANNEL_ID = 0;
    public static final String UPDATE_CHANNEL = "";

    // https://core.telegram.org/api/obtaining_api_id
    public static final int APP_ID = 0;
    public static final String APP_HASH = "";

    public static final String PLAYSTORE_APP_URL = "";

    public static String WS_USER_AGENT = "";
    public static String WS_CONN_HASH = "";
    public static String WS_DEFAULT_DOMAIN = "";

    public static String WEBVIEW_BOT = "";
    public static long WEBVIEW_BOT_ID = 0;

    public static long getOwnerFromStickerSetId(long id) {
        return 0;
    }

    public static void getRegDate(long userId, Utilities.Callback<UserHelper.RegDate> callback) {

    }

    public static UserInfoBot getUserInfoBot(boolean fallback) {
        return null;
    }

    public static boolean isTrustedBot(long id) {
        return id == WEBVIEW_BOT_ID;
    }
}
